[user]
	email = jacob32727@gmail.com
	name = yuki-laptop
	email = =
[pull]
	rebase = true
[alias]
	tree = log --graph --decorate --all --pretty=oneline --abbrev-commit --format=\"%x09%C(yellow)%h%Creset <%C(green bold)%an%Creset%d> %s\"
